/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1 {
	text-align: center;
}


.intro {
	height: 400px;
	width: 100%;
}

#work {
	background-color: grey;
	padding-top: 80px;
	padding-bottom: 80px;
}

#me {
	height: 400px;
	padding-top: 80px;
}
.sub-footer {
	background-color: green;
	color: white;
	height: 300px;
	padding-top: 80px;
}

footer {
	background-color: black;
	height: 300px;
	padding-top: 80px;
}

footer p {
	color: white;
}

p {
    display: inline-block;
    float: none;
}

div#learn-links div, div p {
	display: block;
}

.title-sub {
	font-size: 20px;
	font-weight: bold;
}


img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.learn-more a {
	font-size: 32px;
}

p {
	font-size: 17px;
}

.boldBlk {
	font-weight: bold;
	font-size: 35px;
	color: black;
}

.accepting {
	font-size: 24px;
}

.work-image {
	margin-top: 20px;
	margin-bottom: 20px;
}

.hi {
	padding-top: 30px;
	padding-bottom: 80px;
}

.email {
	color: blue;
}
/*
.vertical-align {
	display: flex;
	align-items: center;
}

*/