/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	.logo { width: 40px; height: 40px; }

    .hi { font-size: 17px; line-height: 1.5; padding-top: 90px; }

	h1 { font-size: 20px; }
    
    .title-sub { font-size: 19px; }

    .learn-more a { font-size: 10px; }

	p { font-size: 14px; width:75%; margin: auto; line-height: 1.7; }

	p.quest { margin-bottom: 20px; }

	p.line { line-height: 1; }

	p.descr { padding-bottom: 40px; }

	.section-title { font-size: 24px; }

	.exp-stat { font-size: 17px; margin-top: 25px; margin-bottom: 120px; }

	.boldBlk { font-size: 24px; }

    .accepting { font-size: 14px; }

    #me { padding-top: 40px; margin-bottom: 30px; }

	#me i { font-size: 37px; }

	#work { padding-top: 30px; padding-bottom: 30px; }

	#social i { font-size: 30px; }

	.copyr { font-size: 10px; }	

	.work-image { width: 75%; height: 75%; }

	#sub-footer { padding-top: 40px; padding-bottom: 40px; }

	.acc-cont { width: 100%; }

	p.sub-foot { width: 100%; }

    footer { padding-top: 40px; padding-bottom: 30px; }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    
    .logo { width: 40px; height: 40px; }

    .hi { font-size: 17px; line-height: 1.5; padding-top: 90px; }

	h1 { font-size: 20px; }
    
    .title-sub { font-size: 19px; }

    .learn-more a { font-size: 10px; }

	p { font-size: 14px; width:75%; margin: auto; line-height: 1.7; }

	p.quest { margin-bottom: 20px; }

	p.line { line-height: 1; }

	p.descr { padding-bottom: 40px; }

	.section-title { font-size: 24px; }

	.exp-stat { font-size: 17px; margin-top: 25px; margin-bottom: 120px; }

	.boldBlk { font-size: 24px; }

    .accepting { font-size: 14px; }

    #me { padding-top: 40px; margin-bottom: 30px; }

	#me i { font-size: 37px; }

	#work { padding-top: 30px; padding-bottom: 30px; }

	#social i { font-size: 30px; }

	.copyr { font-size: 10px; }	

	.work-image { width: 75%; height: 75%; }

	#sub-footer { padding-top: 40px; padding-bottom: 40px; }

	.acc-cont { width: 100%; }

	p.sub-foot { width: 100%; }

    footer { padding-top: 40px; padding-bottom: 30px; }

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    
    .logo { width: 40px; height: 40px; }

    .hi { font-size: 17px; line-height: 1.5; padding-top: 90px; }

	h1 { font-size: 20px; }
    
    .title-sub { font-size: 19px; }

    .learn-more a { font-size: 10px; }

	p { font-size: 14px; width:75%; margin: auto; line-height: 1.7; }

	p.quest { margin-bottom: 20px; }

	p.line { line-height: 1; }

	p.descr { padding-bottom: 40px; }

	.section-title { font-size: 24px; }

	.exp-stat { font-size: 17px; margin-top: 25px; margin-bottom: 120px; }

	.boldBlk { font-size: 24px; }

    .accepting { font-size: 14px; }

    #me { padding-top: 40px; margin-bottom: 30px; }

	#me i { font-size: 37px; }

	#work { padding-top: 30px; padding-bottom: 30px; }

	#social i { font-size: 30px; }

	.copyr { font-size: 10px; }	

	.work-image { width: 75%; height: 75%; }

	#sub-footer { padding-top: 40px; padding-bottom: 40px; }

	.acc-cont { width: 100%; }

	p.sub-foot { width: 100%; }

    footer { padding-top: 40px; padding-bottom: 30px; }		

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

	.logo { width: 50px; height: 50px; }

    .hi { font-size: 52px; padding-top: 90px; }
    
    .title-sub, .learn-more a { font-size: 35px; }

	p { font-size: 17px; }

	.exp-stat { font-size: 20px; margin-top: 25px; margin-bottom: 60px; }

	.boldBlk { font-size: 23px; }

    .accepting { font-size: 20px; }

    #me { padding-top: 45px; }

	#me i { font-size: 46px; }

	#work { padding-top: 60px; padding-bottom: 60px; }

	#social i { font-size: 25px; }

	.copyr { font-size: 17px; }	

	p.sub-foot { width: 75%; }

	.work-image { width: 90%; height: 90%; }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

	.logo { width: 50px; height: 50px; }

    .hi { font-size: 52px; padding-top: 90px; }
    
    .title-sub, .learn-more a { font-size: 35px; }

	p { font-size: 17px; }

	.exp-stat { font-size: 20px; margin-top: 25px; margin-bottom: 60px; }

	.boldBlk { font-size: 23px; }

    .accepting { font-size: 18px; }

    #me { padding-top: 45px; }

	#me i { font-size: 46px; }

	#work { padding-top: 60px; padding-bottom: 60px; }

	#social i { font-size: 25px; }

	.copyr { font-size: 17px; }

	.work-image { width: 90%; height: 90%; }
}


@media only screen and (min-device-width : 600px) {

	.logo { width: 50px; height: 50px; }

	body { line-height: 1.7; }

    .hi { font-size: 40px; padding-top: 90px; }
    
    .title-sub { font-size: 30px; }
    
    .learn-more a { font-size: 20px; }

	p { font-size: 14px; }

	.exp-stat { font-size: 18px; margin-top: 25px; margin-bottom: 60px; }

	.boldBlk { font-size: 23px; }

    .accepting { font-size: 15px; }

    #me { padding-top: 45px; }

	#me i { font-size: 50px; }

	#work { padding-top: 60px; padding-bottom: 60px; }

	#social i { font-size: 42px; }

	.copyr { font-size: 17px; }

	.work-image { width: 80%; height: 80%; }
}


@media only screen and (min-device-width : 400px) {

	.logo { width: 45px; height: 45px; }

	body { line-height: 1.7; }

    .hi { font-size: 40px; padding-top: 90px; }
    
    .title-sub { font-size: 30px; }
    
    .learn-more a { font-size: 20px; }

	p { font-size: 14px; }

	.exp-stat { font-size: 18px; margin-top: 25px; margin-bottom: 60px; }

	.boldBlk { font-size: 23px; }

    .accepting { font-size: 16px; }

    #me { padding-top: 45px; }

	#me i { font-size: 50px; }

	#work { padding-top: 60px; padding-bottom: 60px; }

	#social i { font-size: 42px; }

	.copyr { font-size: 17px; }

	.acc-cont { width: 100%; }

	p.sub-foot { width: 100%; }

	.work-image { width: 75%; height: 75%; }
}


/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    
    .logo { width: 50px; height: 50px; }

    .hi { font-size: 52px; padding-top: 90px; }
    
    .title-sub, .learn-more a { font-size: 35px; }

	p { font-size: 17px; }

	.exp-stat { font-size: 18px; margin-top: 25px; margin-bottom: 60px; }

	.boldBlk { font-size: 23px; }

    .accepting { font-size: 20px; }

    #me { padding-top: 45px; }

	#me i { font-size: 46px; }

	#work { padding-top: 60px; padding-bottom: 60px; }

	#social i { font-size: 25px; }

	.copyr { font-size: 17px; }

	.work-image { width: 90%; height: 90%; }
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    
    .logo { width: 50px; height: 50px; }

    .hi { font-size: 52px; padding-top: 90px; }
    
    .title-sub, .learn-more a { font-size: 35px; }

	p { font-size: 17px; }

	.exp-stat { font-size: 18px; margin-top: 25px; margin-bottom: 60px; }

	.boldBlk { font-size: 23px; }

    .accepting { font-size: 20px; }

    #me { padding-top: 45px; }

	#me i { font-size: 46px; }

	#work { padding-top: 60px; padding-bottom: 60px; }

	#social i { font-size: 25px; }

	.copyr { font-size: 17px; }

	.work-image { width: 90%; height: 90%; }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

    .logo { width: 50px; height: 50px; }

    .hi { font-size: 52px; padding-top: 90px; }
    
    .title-sub, .learn-more a { font-size: 35px; }

	p { font-size: 17px; }

	.exp-stat { font-size: 18px; margin-top: 25px; margin-bottom: 60px; }

	.boldBlk { font-size: 23px; }

    .accepting { font-size: 20px; }

    #me { padding-top: 45px; }

	#me i { font-size: 46px; }

	#work { padding-top: 60px; padding-bottom: 60px; }

	#social i { font-size: 25px; }

	.copyr { font-size: 17px; }
	.work-image { width: 90%; height: 90%; }
}
/* Desktops and laptops ----------- */

@media only screen and (min-width : 300px)  {

	.logo { width: 40px; height: 40px; }

    .hi { font-size: 17px; line-height: 1.5; padding-top: 90px; }

	h1 { font-size: 20px; }
    
    .title-sub { font-size: 24px; }

    .learn-more a { font-size: 10px; }

	p { font-size: 14px; width:75%; margin: auto; line-height: 1.7; }

	p.quest { margin-bottom: 20px; }

	p.line { line-height: 1; }

	p.descr { padding-bottom: 40px; }

	.section-title { font-size: 24px; }

	.exp-stat { font-size: 17px; margin-top: 25px; margin-bottom: 120px; }

	.boldBlk { font-size: 24px; }

    .accepting { font-size: 14px; }

    #me { padding-top: 40px; margin-bottom: 30px; }

	#me i { font-size: 30px; }

	#work { padding-top: 30px; padding-bottom: 30px; }

	#social i { font-size: 30px; }

	.copyr { font-size: 10px; }	

	.work-image { width: 75%; height: 75%; }

	#sub-footer { padding-top: 40px; padding-bottom: 40px; }

	.acc-cont { width: 100%; }

	p.sub-foot { width: 100%; }

    footer { padding-top: 40px; padding-bottom: 30px; }
}



@media only screen and (min-width : 420px)  {

	.logo { width: 45px; height: 45px; }

	.hi { font-size: 24px; padding-top: 90px; }

	h1 { font-size: 30px; }
    
    .title-sub { font-size: 27px; }

    .learn-more a { font-size: 12px; }

	p { font-size: 14px; width:75%; margin: auto; }

	p.descr { padding-bottom: 40px; }

	.exp-stat { font-size: 19px; margin-top: 25px; margin-bottom: 60px; }

	.boldBlk { font-size: 25px; }

    .accepting { font-size: 16px; }

	#me i { font-size: 37px; }

	#work { padding-top: 80px; padding-bottom: 80px; }

	#social i { font-size: 35px; }

	.copyr { font-size: 12px; }	

	.work-image { width: 70%; height: 70%; }

	.acc-cont { width: 100%; }

	p.sub-foot { width: 100%; }

	#sub-footer { padding-top: 60px; padding-bottom: 60px; }

	footer { padding-top: 40px; padding-bottom: 30px; }
}


@media only screen and (min-width : 600px)  {

	.logo { width: 50px; height: 50px; }

	.hi { font-size: 35px; padding-top: 90px; }
    
    .title-sub { font-size: 30px; }

    .learn-more a { font-size: 14px; }

	p { font-size: 16px; width:75%; margin: auto; }

	p.descr { padding-bottom: 40px; }

	.exp-stat { font-size: 19px; margin-top: 25px; margin-bottom: 60px; }

	.boldBlk { font-size: 32px; }

    .accepting { font-size: 21px; }

	#me i { font-size: 46px; }

	#work { padding-top: 80px; padding-bottom: 80px; }

	#social i { font-size: 42px; }

	.copyr { font-size: 13px; }	

	.work-image { width: 75%; height: 75%; }

	#sub-footer { padding-top: 60px; padding-bottom: 60px; }

	.acc-cont { width: 100%; }

	p.sub-foot { width: 100%; }

	footer { padding-top: 40px; padding-bottom: 40px; }
}



@media only screen and (min-width : 850px)  {

	.logo { width: 55px; height: 55px; }

	.hi { font-size: 45px; padding-top: 90px; }
    
    .title-sub { font-size: 30px; }

    .learn-more a { font-size: 16px; }

	p { font-size: 16px; }

	.exp-stat { font-size: 19px; margin-top: 25px; margin-bottom: 60px; }

	.boldBlk { font-size: 35px; }

    .accepting { font-size: 24px; }

	#me i { font-size: 46px; }

	#work { padding-top: 80px; padding-bottom: 80px; }

	#social i { font-size: 42px; }

	.copyr { font-size: 15px; }	

	.work-image { width: 90%; height: 90%; }

	#sub-footer { padding-top: 70px; padding-bottom: 70px; }

	footer { padding-top: 40px; padding-bottom: 40px; }
}


@media only screen and (min-width : 1100px)  {

	.logo { width: 60px; height: 60px; }

	.hi { font-size: 45px; padding-top: 90px; }
    
    .title-sub { font-size: 30px; }

    .learn-more a { font-size: 16px; }

	p { font-size: 14px; }

	.exp-stat { font-size: 18px; margin-top: 25px; margin-bottom: 60px; }

    .section-title { font-size: 35px; }

	.boldBlk { font-size: 35px; }

    .accepting { font-size: 20px; }

	#me i { font-size: 50px; }

	#work { padding-top: 80px; padding-bottom: 80px; }

	#social i { font-size: 42px; }

	.copyr { font-size: 15px; }	

	#sub-footer { padding-top: 80px; padding-bottom: 80px; }

	footer { padding-top: 40px; padding-bottom: 50px; }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone X ------- */
@media only screen 
	and (device-width : 375px) 
	and (device-height : 812px) 
	and (-webkit-device-pixel-ratio : 3) 
	and (orientation : portrait) {

    .logo { width: 100px; height: 100px; }

    .hi { font-size: 70px; line-height: 1.5; padding-top: 90px; }

	h1 { font-size: 60px; }
    
    .title-sub { font-size: 50px; }

    .learn-more a { font-size: 35px; }

	p { font-size: 40px; width:100%; margin: auto; line-height: 1.7; }

	p.quest { margin-bottom: 50px; }

	p.line { line-height: 1; }

	p.descr { padding-bottom: 40px; }

	.section-title { font-size: 80px; }

	.exp-stat { font-size: 40px; margin-top: 25px; margin-bottom: 120px;}

	.exp-block { margin-bottom: 100px; }

	.work-block {margin-bottom: 100px;}

	.boldBlk { font-size: 70px; }

    .accepting { font-size: 40px; }

    #me { padding-top: 160px; margin-bottom: 100px; }

	#me i { font-size: 110px; }

	#work { padding-top: 120px; padding-bottom: 80px; }

	#social i { font-size: 110px; }

	.copyr { font-size: 30px; }	

	.work-image { width: 85%; height: 85%; }

	#sub-footer { padding-top: 100px; padding-bottom: 100px; }

	.acc-cont { width: 100%; }

	p.sub-foot { width: 100%; }

	footer { padding-top: 100px; padding-bottom: 100px; }      

 }


 @media only screen 
	and (device-width : 375px) 
	and (device-height : 812px) 
	and (-webkit-device-pixel-ratio : 3) 
	and (orientation : landscape) {

    .logo { width: 52px; height: 52px; }

    .hi { font-size: 40px; line-height: 1.5; padding-top: 45px; }

	h1 { font-size: 45px; }
    
    .title-sub { font-size: 35px; }

    .learn-more a { font-size: 15px; }

	p { font-size: 22px; width:90%; margin: auto; line-height: 1.7; }

	p.quest { margin-bottom: 50px; }

	p.line { line-height: 1; }

	p.descr { padding-bottom: 40px; }

	.section-title { font-size: 55px; }

	.exp-stat { font-size: 25px; margin-top: 10px; margin-bottom: 70px;}

	.exp-block { margin-bottom: 70px; }

	.work-block {margin-bottom: 70px;}

	.boldBlk { font-size: 45px; }

    .accepting { font-size: 22px; }

    #me { padding-top: 100px; margin-bottom: 10px; }

	#me i { font-size: 80px; }

	#work { padding-top: 100px; padding-bottom: 10px; }

	#social i { font-size: 70px; }

	.copyr { font-size: 15px; }	

	.work-image { width: 75%; height: 75%; }

	#sub-footer { padding-top: 90px; padding-bottom: 90px; }

	.acc-cont { width: 100%; }

	p.sub-foot { width: 100%; }

	footer { padding-top: 50px; padding-bottom: 35px; }      

 }

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}


body {
	 	font-family: 'Montserrat', sans-serif;
	 	text-align: center;
	 }

.container {
	padding: 0;
}	 

h1 {
	text-align: center;
}


.intro {
	height: 100vh;
	width: 100vw;
	position: relative;
	padding-top: 35px;
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: table-cell;
	vertical-align: middle;
}

.intro-text {

}

#prim-logo {
	position: absolute;
	top: 2.5%;
	left: 50%;
	z-index: 20;
	-webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.blk-bg {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 0;
	height: 100vh;
	width: 100%;
}

.intro-text {
	position: relative;
	z-index: 10;
}

#work {
	background-color: #eee;
}

#me {
	height: auto;
	text-align: center;
}

.exp-stat {
	color: #524e4d;
	font-weight: 300;
}
#sub-footer {
	background-color: #FED766;
	color: #252a30;
	height: auto;
}

footer {
	background-color: #252a30;
	height: auto;
}

footer p {
	color: #93a4aa;
}

p {
    display: inline-block;
    float: none;
    font-weight: 300;
}

div#learn-links div, div p {
	display: block;
}

.title-sub {
	font-weight: 700;
}

.section-title {
	font-weight: 700;
}

img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.upc {
	text-transform: uppercase;
}

.boldBlk {
	font-weight: bold;
	color: black;
}

.work-image {
	margin-top: 20px;
	margin-bottom: 20px;
	transition: all .3s ease-in-out;
}

.work-image:hover {
	border-radius: 40px;
}

.primary-logo img {
	position: relative;
	top: 7%;
}

.hi {
	color: rgba(242,242,242,1);
	padding-bottom: 40px;
	font-weight: 700;
}

.acc-cont {
	margin: auto;
}

.email {
	color: #5EA4F7;
}

#lm1 {
	padding-top: 30px;
	padding-bottom: 60px;
}

.yellow {
	color: #FED766;
}


.text-detail {
	color: #93a4aa;
}

.copyr {
	margin-top: 30px;
}

.social-links {
	margin-top: 20px;
}

a.learn {
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}

.button {
	transition: all .3s ease-in-out;
	border-radius: 50px;
	text-decoration: none;
	cursor: pointer;
	letter-spacing: 0;
}

.button-hire {
	color:#fff;
	border: 2px solid #FED766;
	background-color: transparent;
	padding: 1.4em 1.5em;
	font-weight: 700;
	text-decoration: none;
}

.button-hire:hover {
    color:#252a30;
    border:2px solid #FED766;
    background-color:#FED766;
    padding:1.4em 2em;
    text-decoration: none;
}

.accepting {
	font-weight: 300;
}

#social i { margin-left: 3px; }