/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
 	font-family: 'Montserrat', sans-serif;
 	text-align: center;
 }

 h1 {
	text-align: center;
}


.intro {
	height: 100vh;
	width: 100%;
	position: relative;
}

.blk-bg {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 0;
	opacity: 0.5;
	height: 100vh;
	width: 100%;
}

.intro-text {
	position: relative;
	z-index: 10;
}

#work {
	background-color: #eee;
	padding-top: 80px;
	padding-bottom: 80px;
}

#me {
	height: 500px;
	text-align: center;
	padding-top: 80px;
	margin-bottom: 50px;
}
.sub-footer {
	background-color: #FED766;
	color: #252a30;
	height: 300px;
	padding-top: 80px;
}

footer {
	background-color: #252a30;
	height: 250px;
	padding-top: 40px;
}

footer p {
	color: #93a4aa;
}

p {
    display: inline-block;
    float: none;
}

div#learn-links div, div p {
	display: block;
}

.primary-logo {
	margin-top: 30px;
}

.title-sub {
	font-size: 25px;
	font-weight: bold;
}

.section-title {
	font-weight: bold;
}

img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.learn-more a {
	font-size: 25px;
	color: rgba(102,179,255,0.9);
}

p {
	font-size: 17px;
}

.boldBlk {
	font-weight: bold;
	font-size: 35px;
	color: black;
}

.accepting {
	font-size: 24px;
}

.work-image {
	margin-top: 20px;
	margin-bottom: 20px;
}

.primary-logo img {
	position: relative;
	top: 7%;
}

.hi {
	color: rgba(242,242,242,1);
	padding-top: 110px;
	padding-bottom: 40px;
	font-size: 55px;
	font-weight: bold;
}

.email {
	color: #5EA4F7;
}

#me i {
	font-size: 5em;
}

#social i {
	font-size: 3em;
}

#lm1 {
	margin-bottom: 20px;
}

.yellow {
	color: #FED766;
}

.exp-stat {
	margin-top: 25px;
	margin-bottom: 60px;
}

.text-detail {
	color: #93a4aa;
}

.copyr {
	margin-top: 30px;
	font-size: 15px;
}

.social-links {
	margin-top: 20px;
}

/*
.vertical-align {
	display: flex;
	align-items: center;
}

*/